  
  .portfolio-container {
    overflow: hidden;
    object-fit: contain;
  }

  .porfolio-image .portfolio{
    width: 100%;
    border: 0;
    vertical-align: middle;
    display: inline-block;
  }

  .sub-logo-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
