video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
  }
  
  .hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  
  .hero-container .typing {
    margin-top: 120px;
    margin-left: 20px;
    color: #fff;
    font-size: 64px;
    position: absolute;
    max-width: 50%;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container .typing {
      font-size: 40px;
      align-content: flex-start;
 
    }
  }
  
  @media screen and (max-width: 768px) {
   
    .hero-container .typing {
      font-size: 30px;
      align-content: flex-start;
 
    }
  
  }

  @media screen and (max-width: 600px) {
   
    .hero-container .typing {
      font-size: 20px;
      align-content: flex-start;
 
    }

  }