* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  }
  
  .home,
  .about,
  .portfolio,
  .contact-us,
  .covid {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }
  
  .about {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(37, 135, 180);
    font-size: 100px;
  }
  
  .portfolio {
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(189, 32, 32);
    font-size: 100px;
  }
  
  .contact-us {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(228, 1, 179);
    font-size: 100px;
  }

  .covid {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(61, 207, 24);
    font-size: 100px;
  }